$primary: #56B0F9;
$on-primary: #5599d1;

$error: #FC0005;
$on-error: #FC0005;

$success: #00e887;

$surface: #FAFAFA;
$on-surface: #cacaca;
$primary-light: #276389;
// $on-primary-light: #ffffff;
// $primary-container-light: #cae6ff;
// $on-primary-container-light: #004b70;

// $secondary-light: #50606e;
// $on-secondary-light: #ffffff;
// $secondary-container-light: #d3e5f5;
// $on-secondary-container-light: #384956;

// $tertiary-light: #65597b;
// $on-tertiary-light: #ffffff;
// $tertiary-container-light: #ebddff;
// $on-tertiary-container-light: #4d4162;

// $error-light: #ba1a1a;
// $on-error-light: #ffffff;
// $error-container-light: #ffdad6;
// $on-error-container-light: #93000a;

// $background-light: #f7f9ff;
// $on-background-light: #181c20;
// $surface-light: #f7f9ff;
// $on-surface-light: #181c20;

// $surface-variant-light: #dde3ea;
// $on-surface-variant-light: #41474d;
// $outline-light: #72787e;
// $outline-variant-light: #c1c7ce;
// $scrim-light: #000000;

// $inverse-surface-light: #2d3135;
// $inverse-on-surface-light: #eef1f6;
$inverse-primary-light: #96cdf8;

// $surface-dim-light: #d7dadf;
// $surface-bright-light: #f7f9ff;
// $surface-container-lowest-light: #ffffff;
// $surface-container-low-light: #f1f4f9;
// $surface-container-light: #ebeef3;
// $surface-container-high-light: #e5e8ed;
// $surface-container-highest-light: #e0e3e8;

// // Medium contrast
// $primary-light-medium-contrast: #003a57;
// $on-primary-light-medium-contrast: #ffffff;
// $primary-container-light-medium-contrast: #397299;
// $on-primary-container-light-medium-contrast: #ffffff;

// $secondary-light-medium-contrast: #283845;
// $on-secondary-light-medium-contrast: #ffffff;
// $secondary-container-light-medium-contrast: #5e6f7e;
// $on-secondary-container-light-medium-contrast: #ffffff;

// $tertiary-light-medium-contrast: #3c3151;
// $on-tertiary-light-medium-contrast: #ffffff;
// $tertiary-container-light-medium-contrast: #74678b;
// $on-tertiary-container-light-medium-contrast: #ffffff;

// $error-light-medium-contrast: #740006;
// $on-error-light-medium-contrast: #ffffff;
// $error-container-light-medium-contrast: #cf2c27;
// $on-error-container-light-medium-contrast: #ffffff;

// $background-light-medium-contrast: #f7f9ff;
// $on-background-light-medium-contrast: #181c20;
// $surface-light-medium-contrast: #f7f9ff;
// $on-surface-light-medium-contrast: #0e1215;

// $surface-variant-light-medium-contrast: #dde3ea;
// $on-surface-variant-light-medium-contrast: #31373d;
// $outline-light-medium-contrast: #4d5359;
// $outline-variant-light-medium-contrast: #686e74;
// $scrim-light-medium-contrast: #000000;

// $inverse-surface-light-medium-contrast: #2d3135;
// $inverse-on-surface-light-medium-contrast: #eef1f6;
// $inverse-primary-light-medium-contrast: #96cdf8;

// $surface-dim-light-medium-contrast: #c3c7cc;
// $surface-bright-light-medium-contrast: #f7f9ff;
// $surface-container-lowest-light-medium-contrast: #ffffff;
// $surface-container-low-light-medium-contrast: #f1f4f9;
// $surface-container-light-medium-contrast: #e5e8ed;
// $surface-container-high-light-medium-contrast: #dadde2;
// $surface-container-highest-light-medium-contrast: #cfd2d7;

// // Hight contrast
// $primary-light-high-contrast: #002f48;
// $on-primary-light-high-contrast: #ffffff;
// $primary-container-light-high-contrast: #024e73;
// $on-primary-container-light-high-contrast: #ffffff;

// $secondary-light-high-contrast: #1e2e3a;
// $on-secondary-light-high-contrast: #ffffff;
// $secondary-container-light-high-contrast: #3b4b59;
// $on-secondary-container-light-high-contrast: #ffffff;

// $tertiary-light-high-contrast: #312746;
// $on-tertiary-light-high-contrast: #ffffff;
// $tertiary-container-light-high-contrast: #4f4365;
// $on-tertiary-container-light-high-contrast: #ffffff;

// $error-light-high-contrast: #600004;
// $on-error-light-high-contrast: #ffffff;
// $error-container-light-high-contrast: #98000a;
// $on-error-container-light-high-contrast: #ffffff;

// $background-light-high-contrast: #f7f9ff;
// $on-background-light-high-contrast: #181c20;
// $surface-light-high-contrast: #f7f9ff;
// $on-surface-light-high-contrast: #000000;

// $surface-variant-light-high-contrast: #dde3ea;
// $on-surface-variant-light-high-contrast: #000000;
// $outline-light-high-contrast: #272d32;
// $outline-variant-light-high-contrast: #444a50;
// $scrim-light-high-contrast: #000000;

// $inverse-surface-light-high-contrast: #2d3135;
// $inverse-on-surface-light-high-contrast: #ffffff;
// $inverse-primary-light-high-contrast: #96cdf8;

// $surface-dim-light-high-contrast: #b6b9be;
// $surface-bright-light-high-contrast: #f7f9ff;
// $surface-container-lowest-light-high-contrast: #ffffff;
// $surface-container-low-light-high-contrast: #eef1f6;
// $surface-container-light-high-contrast: #e0e3e8;
// $surface-container-high-light-high-contrast: #d1d5da;
// $surface-container-highest-light-high-contrast: #c3c7cc;